Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
Database/LighterDB_2K8.mdf
Database/LighterDB_2K8_log.ldf
Database/script_LighterDB_0720.sql
Database/LighterDB.mdf
Database/LighterDB_log.ldf
Database/LighterDB.mdf
Database/LighterDB_log.ldf
